<% content_for :cover do %>
  <% date = DateTime.now %>
  <% params[:cooked_day] = Date.today if params[:cooked_day].blank? %>
  <% params[:type] = 'morning' if params[:type].blank? %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <% unless logged_in? %>
        <div class="container">
          <div class="row">
            <% @images.each do |imageUrl| %>
            <div class="col-md-4">
              <div class="thumbnail">
                <%= image_tag(imageUrl) %>
              </div>
            </div>
            <% end %>
            </div>
          </div>
          <h1>日々の食事をより良く、簡単に</h1>
          <%= link_to '献立を作る', signup_path, class: 'btn btn-success btn-lg' %>
        <% else %>
        <div>
          <% if params[:cooked_day].class == "Date" %>
            <h2><%="#{params[:cooked_day].year}年#{params[:cooked_day].month}月#{params[:cooked_day].day}日（#{dayWeek(params[:cooked_day])}）の献立" %></h2>
          <% else %>
            <% params[:cooked_day] = Date.strptime("#{params[:cooked_day]}",'%Y-%m-%d') %>
            <h2><%="#{params[:cooked_day].year}年#{params[:cooked_day].month}月#{params[:cooked_day].day}日(#{dayWeek(params[:cooked_day])})の献立" %></h2>
          <% end %>
        </div>
        <div class="row">
          <%= link_to '日', root_path(cooked_day: set_days(0)) %>
          <%= link_to '月', root_path(cooked_day: set_days(1)) %>
          <%= link_to '火', root_path(cooked_day: set_days(2)) %>
          <%= link_to '水', root_path(cooked_day: set_days(3)) %>
          <%= link_to '木', root_path(cooked_day: set_days(4)) %>
          <%= link_to '金', root_path(cooked_day: set_days(5)) %>
          <%= link_to '土', root_path(cooked_day: set_days(6)) %>
        </div>
        <%#
        <ul class="nav nav-tabs nav-justified">
          <li><%= link_to '朝ごはん', root_path(type: 'morning', cooked_day: params[:cooked_day]) %>
        <%# <li><%= link_to '昼ごはん', root_path(type: 'lunch', cooked_day: params[:cooked_day]) %>
          <%# <li><%= link_to '夜ごはん', root_path(type: 'dinner', cooked_day: params[:cooked_day]) %>
        <%# </ul> %> 
        
          <%= link_to '主菜を決める', new_recipe_path(menu_category: '主菜', category_id: ['10','11','32','33'], type: "morning", cooked_day: params[:cooked_day], food_type: "syusai")%>
          <%= link_to '副菜を決める', new_recipe_path(menu_category: '副菜', category_id: ['12','18','17'], type: "morning", cooked_day: params[:cooked_day], food_type: "fukusai") %>
          <%= link_to '主食を決める', new_recipe_path(menu_category: '主食', category_id: ['14','15','16'], type: "morning", cooked_day: params[:cooked_day], food_type: "syusyoku") %>
           <div class="costtable">
           <h3 class="costnum">朝ごはんの食費：<%= costSet("morning", params[:cooked_day]) %>円</h3>
           </div>
           <%= link_to '主菜を決める', new_recipe_path(menu_category: '主菜', category_id: ['10','11','32','33'], type: "lunch", cooked_day: params[:cooked_day], food_type: "syusai")%>
          <%= link_to '副菜を決める', new_recipe_path(menu_category: '副菜', category_id: ['12','18','17'], type: "lunch", cooked_day: params[:cooked_day], food_type: "fukusai") %>
          <%= link_to '主食を決める', new_recipe_path(menu_category: '主食', category_id: ['14','15','16'], type: "lunch", cooked_day: params[:cooked_day], food_type: "syusyoku") %>
           <div class="costtable">
           <h3 class="costnum">昼ごはんの食費：<%= costSet("lunch", params[:cooked_day]) %>円</h3>
           </div>
           <%= link_to '主菜を決める', new_recipe_path(menu_category: '主菜', category_id: ['10','11','32','33'], type: "dinner", cooked_day: params[:cooked_day], food_type: "syusai")%>
          <%= link_to '副菜を決める', new_recipe_path(menu_category: '副菜', category_id: ['12','18','17'], type: "dinner", cooked_day: params[:cooked_day], food_type: "fukusai") %>
          <%= link_to '主食を決める', new_recipe_path(menu_category: '主食', category_id: ['14','15','16'], type: "dinner", cooked_day: params[:cooked_day], food_type: "syusyoku") %>
           
           <div class="costtable">
           <h3 class="costnum">夜ごはんの食費：<%= costSet("dinner", params[:cooked_day]) %>円</h3>
           </div>
           <div class="costtable">
           <h3 class="costnum">今日の食費：<%= allCostSet(params[:cooked_day]) %>円</h3>
           </div>
        <% end %>
      </div>
      </div>
    </div>
  </div>
<% end %>